accelerate 
blinker 
Brotli 
dataclasses 
datasets 
einops 
gmpy2 
ipykernel 
loralib 
matplotlib 
munkres==1.1.4
scikit-learn 
tensorboard 
tensorboardX 
toml 
torchaudio==2.0.2
torchvision==0.15.2
transformers 
triton==2.0.0
unicodedata2 
h5py
