accelerate 
activations-ext==0.0.0
backports.functools-lru-cache 
blinker 
Brotli 
colorama 
dataclasses 
datasets 
einops 
gmpy2 
gpustat 
ipykernel 
loralib 
matplotlib 
munkres==1.1.4
pip==23.2.1
pipdeptree==2.13.0
pooch 
PyJWT 
pyOpenSSL 
PyQt5==5.15.9
PySocks 
pyu2f 
sacremoses 
scikit-learn 
sip 
tensorboard 
tensorboardX 
toml 
torchaudio==2.0.2
torchvision==0.15.2
transformers 
triton==2.0.0
unicodedata2 
